@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Welcome to the official page of the moving company MoveIT</h4>
    <h2 class="display-4">Move IT, but we'll do IT! </h2>

    <img src="~/images/doggo.jpg" />
</div>
